* {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("./src/bgImage.png");
}
.test-intro {
  width: 60%;
  margin: 0 auto;
}
.page-title {
  font-size: 2em;
  font-weight: 700;
  padding: 1em 2em;
  background-color: rgba(238, 238, 238, 0.9);
  border-radius: 20px;
  border: 5px dotted #dccfc0;
  position: relative;
}
.page-title::before {
  content: "";
  position: absolute;
  background-color: #a2af9b;
  left: 0.7em;
  top: 0.7em;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}
.page-title {
  text-align: center;
  font-family: "Shizuru", system-ui;
  font-weight: 400;
  font-style: normal;
}
.img-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  background-size: cover;
  background-position: bottom;
  animation: bgSlide 12s infinite;
}
@keyframes bgSlide {
  0% {
    background-image: url("./src/cafe.jpg");
  }
  20% {
    background-image: url("./src/cafe.jpg");
  }
  23% {
    background-image: url("./src/mountain.jpg");
  }
  43% {
    background-image: url("./src/mountain.jpg");
  }
  56% {
    background-image: url("./src/escalator.png");
  }
  73% {
    background-image: url("./src/escalator.png");
  }
  77% {
    background-image: url("./src/campus.jpg");
  }
  93% {
    background-image: url("./src/campus.jpg");
  }
  100% {
    background-image: url("./src/cafe.jpg");
  }
}
.coffee-walk {
  filter: invert(1);
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.introduction p {
  text-align: center;
}
.start-btn {
  background-color: #a2af9b;
  font-size: 2em;
  padding: 0.5em 2em;
  border: none;
  border-radius: 2em;
  position: relative;
}
.start-btn:hover::before {
  content: "";
  background-color: transparent;
  font-size: 2em;
  padding: 0.5em 1.97em;
  border: 1px solid black;
  border-radius: 2em;
  position: absolute;
  top: 0.05em;
  left: 0;
}
.start-btn:hover {
  cursor: pointer;
}
