/* Tailwind 官網 */
/* https://tailwindcss.com/ */

/* Font-awesome */
/* https://fontawesome.com/search?ic=free-collection */

:root {
  --main-color: #faf9ee; /* 淡黃 */
  --green-gray: #a2af9b; /* 抹茶綠 */
  --soft-brown: #dccfc0; /* 亮咖啡 */
  --light-gray: #eeeeee; /* 淡灰 */
}
